 
 /* Estilos para tablets */
 @media only screen and (min-width: 898px) and (max-width: 1089px){
    .qualidade::after{
        width: 634px;
        right: 66px;
    }

    .qualidade-lista li{
        padding: 0 10px;
    }

    /*Página Produtos*/
    .amostra-produtos h2{
        font-size: 30px;
        top: -145px;
    }

    .produtos-icone-pg-produtos {
        background: #000;
        padding: 48px 40px;
    }

    .produtos-info p{
        color: #fff;
        text-align: justify;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .produtos-info ul li {
        width: 169px;
        height: 30px;
        padding: 7px;
        font-size: 14px;
    }

    .produtos-item{
        padding-top: 30px;
    }
    
    .amostra-produtos h2:after, .amostra-produtos h2:before{
        width: 45px;
    }

    .orcamento{
        padding: 30px;
        margin-top: 30px;
    }

    .form-orcamento input {
        width: 320px;
    }

    .form-orcamento textarea{
        width: 320px;    
    }

    .orcamento .subtitulo-bg-preto {
        margin-bottom: 20px;
    }
 }

 /* Estilos para smartphones */
 @media only screen and (max-width: 897px){
     .header{
         position: relative;
         padding-bottom: 0;
     }

     .header img{
         margin: 0 auto;
     }

     .header-menu{
         text-align: center;
     }

     .header-menu ul li{
        margin: 0;
    }

    .header-menu ul li a{
        text-decoration: none;
        text-transform: uppercase;
        width: 140px;
        color: #000;
        font-weight: bold;
        letter-spacing: .1em;
        font-size: 12px;
        padding: 15px 0;
        margin-left: 5px

    }

    .intro, .intro-interna{
        margin-top: 0;
        padding-top: 40px;
        background: url("../img/bg-mobile.jpg") no-repeat center;
        background-size: cover;
    }

    .produtos, .portfolio, .qualidade{
        padding: 30px 0;
    }

    .call-to-action{
        padding-top: 20px;
    }

    .qualidade:after{
        display: none;
    }

    .qualidade img{
        max-width: 50%;
    }

    .redes-sociais{
        padding: 0;
    }

    .redes-sociais, .contato{
        padding: 10px 0;
    }

    footer{
        height: auto;
    }

    footer .subtitulo-bg-preto{
        margin-bottom: 10px;
        font-size: 20px;
    }

    .copy{
        height: auto;
    }

    .copy p{
        padding-bottom: 1px;
    }

    /*página Sobre*/
    .missao p{
        padding-right: 0;
        font-size: 14px;
        line-height: 20px;
    }

    .missao .subtitulo-interno{
        font-size: 18px;
    }

    .subtitulo-interno::after{
        width: 40px;
    }

    .missao ul li{
        font-size: 14px;
        line-height: 25px;
    }

    /*Página Produtos*/
    .amostra-produtos h2{
        font-size: 24px;
        top: -90px;
    }

    .produtos-icone-pg-produtos {
        background: #000;
        padding: 30px 40px;
    }

    .produtos-info p{
        color: #fff;
        text-align: justify;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .produtos-info ul li {
        width: 137px;
        height: 30px;
        padding: 7px;
        font-size: 14px;
    }

    .produtos-item{
        padding-top: 30px;
    }
    
    .amostra-produtos h2:after, .amostra-produtos h2:before{
        width: 45px;
    }

    .orcamento{
        padding: 30px;
        margin-top: 30px;
    }

    .form-orcamento input {
        width: 320px;
    }

    .form-orcamento textarea{
        width: 320px;    
    }

    .orcamento .subtitulo-bg-preto {
        margin-bottom: 20px;
    }

    .dados-orcamento{
        padding-left: 0;
        margin-top: 30px;
    }
}