/*geral*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

img{
    display: block;
}

.btn{
    border: 4px solid #FEC63E;
    text-transform: uppercase;
    padding: 10px 25px;
    text-decoration: none;
    color: #FEC63E;
    font-weight: bold;
}

.btn:hover{
    color: #fff;
    border-color: #fff;
}

.btn-preto:hover{
    color: #000;
    border-color: #000;
}

.subtitulo{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo-bg-preto{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    color: #FEC63E;
}

.subtitulo::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 10px auto 10px auto;
}

.subtitulo-bg-preto::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 10px auto 10px auto;
}

.bg-preto{
    color: #fff;
}

/*Introdução padrão das páginas*/
.intro{
    width: 100%;
    height: 380px;
    margin-top: 91.5px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 80px;
}

.intro h1{
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
}

.intro-interna{
    width: 100%;
    margin-top: 91.5px;
    height: 160px;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

.intro-interna h1{
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.intro-interna h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 10px auto 10px auto;
}

 /*header*/
.header{
    width: 100%;
    background-color: #FEC63E;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-menu{
    text-align: right;
    margin-top: 20px;

}

.header-menu ul li{
    display: inline;
    margin-left: 20px;
}

.header-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 14px;
    padding: 10px 0px;
}

.header-menu ul li a:hover{
    text-decoration-line: underline;
}

/*citações*/
.quote-externo{
    max-width: 260px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 40px;
}

.quote-externo p{
    font-style: italic;
    margin-top: 46px;
    line-height: 1.5em;
}

.quote-externo p::before, .quote-externo p::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 10px auto 10px auto;
}

.quote-externo cite{
    font-weight: bold;
    letter-spacing: .1em;
}

/*produtos*/

.produtos{
    padding: 60px 0;
    text-align: center;
}

.produtos-lista li{
    background: #FEC63E;
}

.produtos-lista li p{
    padding: 10px 20px 20px 20px;
}

.produtos-lista li h3, .qualidade-lista li h3{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.produtos-lista li h3::after, .qualidade-lista li h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 10px auto 10px auto;
}

.produtos-icone{
    background: #000;
    padding: 30px 20px;
}

.produtos-icone img{
    margin: 0 auto;
}

.call-to-action{
    clear: both;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 20px;
}

.call-to-action p{
    margin-bottom: 30px;
}

/*portfolio*/

.portfolio{
    width: 100%;
    padding: 40px 0;
    background: #000;
}

.portfolio-lista li:last-child{
    padding-top: 20px;
}

/*qualidade*/
.qualidade{
    padding: 60px 0;
    text-align: center;
}

.qualidade-lista li{
    text-align: center;
    padding: 0 40px;
}

.qualidade img{
    margin: 0 auto;
}

.qualidade::after{
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.svg");
    position: absolute;
    top: 205px;
    right: 162px;
    z-index: -1;
}

.qualidade-lista{
    padding-top: 20px;
}

/* Quebra */

.quebra{
    width: 100%;
    height: 220px;
    background: url(../img/bg-footer.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 20px;
}

.quebra blockquote{
    max-width: 400px;
}

/*footer*/

footer{
    width: 100%;
    height: 280px;
    background: #000;
}

.redes-sociais, .contato{
    padding: 50px 0;
}

.redes-sociais ul li{
    display: inline-block;
    margin: 0 10px;    
}

.redes-sociais ul li a{
    border: 3px solid #FEC63E;
    display: block;
    padding: 10px;
}

.redes-sociais-lista{
    text-align: center;
}

.contato ul li{
    color: #fff;
    text-align: center;
    line-height: 1.5em;
}

.copy{
    width: 100%;
    height: 45px;
    background: #FEC63E;
}

.copy p{
    text-align: center;
    padding: 15px 0; 
}